<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ide</title>
   
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/style.css">
    <script language="javascript" type="text/javascript" src="editarea_0_8_2/edit_area/edit_area_full.js"></script>
    <script language="javascript" type="text/javascript" src="js/myscript.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    </head>
<body>
   <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/">CodeO9</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
         <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li> 
             
            <li class="nav-item">
                {{#if user}} 
                <a class="nav-link" href="/auth/logout">Signout</a> 
                <li><a href="/profile/userprofile"><img src="{{user.thumbnail}}"></li></a>
                {{else}}
                  <a class="nav-link" href="/auth/login">Signin</a>
                  {{/if}}
            </li>
         </ul>
        
      </div>
     
   </nav>
   <div class="container">
      <div class="row">
            <div class="col-12 col-lg-12 show">
                <h3 class="heading">Code ..Compile !! Run</h3>
            </div>
      </div>
   </div>
<div class="container">
      <div class="row">
            <div class="col-12 col-lg-12 ">
                <form method="POST" action="/">
                 <div class="form-group">
                        <textarea name="code" class="form-control user_code " id="textarea_1" rows="15"cols="80"  placeholder="Your code here" >{{code}}</textarea>   
                 </div>
                 <div class="box">
                      <select name="language">
                         <option value="c">C</option>
                         <option value="cpp">C++</option>
                         <option value="java">Java</option>
                         <option value="php">PHP</option>
                         <option value="perl">Perl</option>
                         <option value="python2">Python 2</option>
                         <option value="python3">Python 3</option>
                         <option value="ruby">Ruby</option>
                         <option value="go">Go Lang</option>
                         <option value="csharp">C#</option>
                         <option value="haskell">Haskell</option>
                      </select>
                 </div>
                <textarea class="form-control heading"  rows="2" placeholder="custom input" name="custom_input"></textarea>
                  <button  class="btn btn-primary btn-block" >Run</button>
                </form>
                <div class="usercode">
                  
                </div>
            </div>
      </div>
   </div>
   <div class="container">
      <div class="row">
            <div class="col-12 col-lg-12 heading">
                      <p>Output: {{answer.output}}</p>
                        <p>Memory: {{answer.memory}}</p>
                          <p>cpu_Time: {{answer.cpuTime}}</p>
            </div>
      </div>
   </div>
     <div class="container footer">
            <div class="row">
                <div class="col-12 col-lg-12 ">
                    <p class="pf">This Website is Developed and maintained By Deepak Malik</p>
                </div>
            </div>
        </div>
</body>
</html>
